# Ignore .idea folder
.idea/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore other potential files/folders you don't want to include
*.log
*.tmp
